*{
    margin: 0px;
    padding: 0px;
}

.top{
    width: 100%;
    min-height: 50px;
    background: none;

}
.container1{
min-width:100%;
min-height: 50px;
margin: 0 auto;
}
.social{
letter-spacing: 5px;
padding-top: 10px;

}
.media{
    color: rgb(7, 227, 227);
    display: inline-block;
    cursor: pointer;

}

.media:active{
    color: blue;
}
.btns{
    float: right;
    /* margin-top: -0px; */
    max-width: auto;

}
.btn{
    background:  none;
    border: 0px;
    color: rgb(7, 227, 227);
    cursor: pointer;
}
@media screen and (max-width: 300px){
.btns{
   margin-top: 10px;
}

}
@media screen and (max-width:900px){
    img{
        width: 400px;
    
    }
}

.navbar{
   max-width: 100%;
    min-height: 50px;
    background:  none;
}
.logo{
    font-family: Liberation Mono;
    color: white;
}
span{
    color: black;
    font-size: 30px;
}
/* .images{
justify-content: center;
margin-top: 20px;
}
.img{
    margin-top: 5px;
    padding-top: 10px;
    
/* }
/* .img:hover{
/* width: 430px;
height: auto;
/* background:url('../images/tiger.jpg'); */
/* opacity: 0.1; */
/* transition: all 0.2s;
/* transform: rotate(180deg) */
/* } */ 
.container2{
    position: relative;
    max-width: 1400px;
    min-height: 600px;
    margin: 80px auto 0;
}
.container2 .box{
    position: relative;
    max-width:270px;
    height: calc(300px - 30px);
    background: #000;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    /* overflow: hidden; */
    box-shadow:  0 5px 10p rgba(0,0,0,.8)
}.container2 .box:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleX(0);
    z-index: 1;
}
.container2 .box:hover:after{
    transform: scaleY(1);
    opacity:1;
}
.container2 .box{
    position: relative;
    width:calc(400px - 30px);
    height: calc(300px - 30px);
    background: #000;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    /* overflow: hidden; */
    box-shadow:  0 5px 10p rgba(0,0,0,.8)
}.container2 .box:after{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleY(0);
    z-index: 1;
}
.container2 .box:hover:before{
    transform: scaleY(1);
    opacity:1;
}
.container2 .box .imgbox{
    position: relative;
}
.container2 .box .imgbox img{
    width: 100%;
    transition: 0.5s;
}
.container2 .box:hover .imgbox img{
    opacity: .2;
    transform: scale(1.2);
}
.container2 .box .content{
    position: absolute;
    width: 100%;
    transform: translateY(-50px);
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
}
.container2 .box .content h2{
    margin: 0;
    margin-top: -180px;
    text-align: center;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-50px);
    opacity: 0;
}
.container2 .box .content p{
    margin: 0;
    padding: 0;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-50px);
    opacity: 0;
    text-align: center;

}
.container2 .box:hover .content h2{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition-delay: 0.2s;
}
.container2 .box:hover .content p{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition-delay: 0.2s;
}

.container2 .box .content button{
    margin: 0;
    padding: 0;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-50px);
    opacity: 0;
    text-align: center;
    justify-content: center;

}
.container2 .box:hover .content button{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition-delay: 0.2s;
}
.btn{
    width: auto;
    height: auto;
    background: none;

}
.btn:hover{
    transition: all 3s;
    background: blue;

}
a{
   text-decoration: none;
   color: aqua;
}